@model WhatToDrink.Models.BeerViewModels.BySeason

@{
    ViewData["Title"] = "Choose the season you'd like";
}

<h2>@ViewData["Title"]</h2>




<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownList("Beer.Season", @Model.SeasonId)
        <span asp-validation-for="Beer.Season" class="text-danger" />
    </div>
</div>


<div id="BeersGoHere"></div>
