@model WhatToDrink.Models.BeerViewModels.BeerDetail




<div class="card">
    <img class="card-img-top" src="@Html.DisplayFor(model => model.Beer.ImgUrl)" alt="Beer image">
    <div class="card-block">
        <h3 class="card-title">@Html.DisplayFor(model => model.Beer.Name)</h3>
        <p class="card-text">@Html.DisplayFor(model => model.Beer.Brewery) @Html.DisplayFor(model => model.Beer.Style.Name)</p>
        <a href="#" class="btn btn-primary">Add to favorites</a>
    </div>
</div>
